{% extends "header_seller.html" %} {% block content %}

<head>
    <style>

        .image-preview{
            min-width: 300px;
            max-width: 300px;
            min-height: 100px;
            border: 2px solid #dddddd;
            margin-top: 15px;

            /*Default text*/
            display:flex;
            align-items: center;
            justify-content: center;
            font-weight: bold;
            color: #cccccc;
            margin-left: auto; 
            margin-right: auto;
        }
        .image-preview__image{
            display: none;
            width: 100%;

        }

        .custom-button{
            padding: 3px;
            color:white;
            background-color: #009578;
            /* border: 1px solid #007; */
            border-radius: 5px;
            cursor: pointer;
            
        }

        #custom-button.hover{
            background-color:#00b28f;
        }

        #custom-text{
            margin-left: 10px;
            font-family:sans-serif;
            color: 
            #aaa;
        }
    </style>

    <link rel="stylesheet" href="http://jqueryvalidation.org/files/demo/site-demos.css">
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="http://jqueryvalidation.org/files/dist/jquery.validate.min.js"></script>
    <script src="http://jqueryvalidation.org/files/dist/additional-methods.min.js"></script>
    <script type="application/x-javascript">
        addEventListener("load", function() {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!-- image input -->
    <script>
        function fishreadURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function(e) {
                    $("#fishpic")
                        .attr("src", e.target.result)
                        // .width(200)
                        // .height(200);
                    $("#fishpic").show()
                };
                reader.readAsDataURL(input.files[0]);
            }
        }

        function decorationreadURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function(e) {
                    $("#decpic")
                        .attr("src", e.target.result)
                        // .width(200)
                        // .height(200);
                    $("#decpic").show()
                };
                reader.readAsDataURL(input.files[0]);
            }
        }

        function toolreadURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function(e) {
                    $("#toolpic")
                        .attr("src", e.target.result)
                        // .width(200)
                        // .height(200);
                    $("#toolpic").show()
                };
                reader.readAsDataURL(input.files[0]);
            }
        }

        function editprofilereadURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function(e) {
                    $("#profilepic")
                        .attr("src", e.target.result)
                        // .width(300)
                        // .height(300);
                    $("#profilepic").show()
                };
                reader.readAsDataURL(input.files[0]);
            }
        }
    </script>
    <!-- validate -->
    <script>
        $.validator.addMethod('filesize', function (value, element, param) {
            return this.optional(element) || (element.files[0].size <= param)
        }, 'File size must be less than {0}');
        $(function() {
            var modal_slip = $("#modal_slip").validate({
                rules: {
                    slip_pic: {
                        required: true,
                        extension: "jpg,jpeg,png",
                        filesize: 400000
                    }
                },
                messages: {
                    slip_pic: {
                        required: "กรุณาใส่รูปภาพสลิป",
                        extension: "ไฟล์ไม่ถูกต้อง",
                        filesize: "ขนาดไฟล์ใหญ่เกินไป"
                    }
                }
            });
            $("#cancelslip").click(function() {
                console.log("OK")
                modal_picprofile.resetForm();
            });
        });
    </script>

    <script>
        window.setTimeout(function() {
            $(".toast").fadeTo(500, 0).slideUp(500, function() {
                $(this).remove();
            });
        }, 3000);
    </script>
    <link href="//fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/styles.css') }}">
</head>
<div class="container p-1 my-0" >
    {% with messages = get_flashed_messages(with_categories=true) %} {% if messages %} {% for category, message in messages %}
    <!-- <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert" style="margin-bottom: 0;">
          {{ message }}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div> -->
    <div aria-live="polite" aria-atomic="true" class="bg-dark position-relative">
        <div class="toast-container position-absolute p-3 top-0 start-50 translate-middle-x" style="z-index: 5; color:white;">
            <div id="liveToast" class="toast fade show bg-{{ category }}" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="toast-body text-center" style="z-index: 5; color:white;">
                    {{ message }}
                </div>
            </div>
        </div>
    </div>
    {% endfor %} {% endif %} {% endwith %}
</div>
<div class="container my-0 " style="padding-left: 0; padding-right: 0;">
    <div class="card">
        <div class="card-header">
            <h5>ประวัติการซื้อ</h5>
        </div>
        <div class="card-body row gy-2 gx-2">
            <div class="col-xs-12 col-md-12">
                <table class="table table-striped table-hover" style="font-size:14px">
                    <thead align="center">
                        <tr>
                            <th>วันที่สั่งซื้อ</th>
                            <th>เวลา</th>
                            <th>รายการสินค้า</th>
                            <th>ราคารวม</th>
                            <th>จำนวน</th>
                            <th>ร้านค้า</th>
                            <th>สถานะ</th>
                            <th ></th>
                            <th ></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in history_buy_data %}
                            <tr>
                                <td align="center">{{row.4}}</td>
                                <td align="center">{{row.11}}</td>
                                <td align="center">{{row.2}}</td>
                                <td align="center">{{row.3}} บาท</td>
                                <td align="center">{{row.5}}</td>
                                <td align="center">{{row.7}}</td>
                                <td align="center">{{row.8}}</td>
                                <td align="center" style="width:100px;" class="bg-light border-none">
                                    <button type="button" id="#checkbill{{row.0}}" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#checkbill{{row.0}}" {{row.9}}>
                                        ส่งสลิป
                                    </button>
                                    <div class="modal fade" id="checkbill{{row.0}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="checkbilldropLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered ">
                                            <div class="modal-content">
                                                <div class="modal-header p-2">
                                                    <h5 class="modal-title" id="staticBackdropLabel">ยืนยันการชำระเงิน</h5>
                                                </div>
                                                <form action="/upload_slip" id="modal_slip" method="POST" enctype="multipart/form-data">
                                                    <div class="modal-body p-1">
                                                        <div class="row gy-1">
                                                            <div class="col-12">
                                                                <div class="row">
                                                                    <div class="col-4">
                                                                        <label>อัพโหลดสลิป</label>
                                                                        <label style="color: red">(jpg,jpeg,png)</label>
                                                                    </div>
                                                                    <div class="col-8">
                                                                        <input type="file" class="form-input" name="slip_pic" id="file" onchange="slipreadURL(this);" style="border:none" required/>
                                                                    </div>
                                                                    <div class="col-12">
                                                                        <div class="row justify-content-center">
                                                                            <img id="slippic{{row.0}}" title="No image" class="form-control " alt="no image" style="width:350px;display: none;" />
                                                                            <script>
                                                                                function slipreadURL(input) {
                                                                                    if (input.files && input.files[0]) {
                                                                                        var reader = new FileReader();
                                                                                        reader.onload = function(e) {
                                                                                            $("#slippic{{row.0}}")
                                                                                                .attr("src", e.target.result)
                                                                                            $("#slippic{{row.0}}").show()
                                                                                        };
                                                                                        reader.readAsDataURL(input.files[0]);
                                                                                    }
                                                                                }
                                                                            </script>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer p-0">
                                                        <input type="hidden" name="id" value="{{row.0}}">
                                                        <button class="btn btn-primary" type="submit" align="left">ยืนยัน</button>
                                                        <button id="cancelslip" type="button" class="btn btn-danger" data-bs-dismiss="modal">ยกเลิก</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td style="width:100px;" class="bg-light border-none">
                                    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#cancelproduct{{row.0}}" {{row.9}}>
                                        ยกเลิก
                                    </button>
                                    <div class="modal fade" id="cancelproduct{{row.0}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="cancelproductdropLabel" aria-hidden="true" {{row.9}}>
                                        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                                            <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title">ยกเลิกคำสั่งซื้อ</h5>
                                            </div>
                                            <form action="/cancelproduct" method="POST">
                                                <div class="modal-body">
                                                    <p>ต้องการยกเลิกคำสั่งซื้อ {{row.2}} ใช่ หรือไม่</p>
                                                    <input type="hidden" name="status" value="cancel">
                                                    <input type="hidden" name="id" value="{{row.0}}">
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="submit" class="btn btn-primary">ยืนยัน</button>
                                                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">ยกเลิก</button>
                                                </div>
                                            </form>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {{history_buy_pagination.links}}
                <div class="mx-auto text-end">
                    <a class="btn btn-primary" href="/profile">
                        ข้อมูลส่วนตัว
                    </a>
                    <a class="btn btn-primary" href="/">
                        หน้าหลัก
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}