{% extends "header.html" %}

{% block content %}
<div class="container pr-2 pt-1 pl-2 my-0"> 
  <div class="card my-0 bg- text-dark" >
    <div class="card-header bg-dark text-center">
      <h4 style="color: white;">ผลการค้นหาร้านค้า</h4>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-12">
                <div class="image-preview mx-auto">
                    <span class="image-preview__default-text">ไม่พบการค้นหา</span>
                </div>
            </div>
            <div class="col-12 text-center">
                <div class="mx-auto">
                    <a class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#fishdata">ข้อมูลปลา</a>
                    <div class="modal fade" id="fishdata" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                            <h5 class="modal-title">ข้อมูลปลา</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                            <div class="row">
                                <div class="col-12 text-center">
                                <img src="{{search_fish_data[0][6]}}" class="card-img-top" style="width:70%;"/>
                                </div>
                                <div class="card text-start">
                                <div class="card-body">
                                <div class="row g-1">
                                    <div class="col-12">
                                    <div class="row">
                                        <div class="col-2">
                                        <span>
                                            ชื่อปลา :
                                        </span>
                                        </div>
                                        <div class="col-10 text-start">
                                        <span>
                                            {% for row in search_fish_data %}
                                            {{row.1}}
                                            {% endfor %}
                                        </span>
                                        </div>
                                    </div>
                                    </div>
                                    <div class="col-12">
                                    <div class="row">
                                        <div class="col-2">
                                        <span>
                                            ชื่อสามัญ : 
                                        </span>
                                        </div>
                                        <div class="col-10 text-start">
                                        <span>
                                            {{search_fish_data[0][2]}}
                                        </span>
                                        </div>
                                    </div>
                                    </div>
                                    <div class="col-12">
                                    <div class="row">
                                        <div class="col-2">
                                        <span>
                                            รายละเอียด : 
                                        </span>
                                        </div>
                                        <div class="col-10 text-start">
                                        <span>
                                            {{search_fish_data[0][3]}}
                                        </span>
                                        </div>
                                    </div>
                                    </div>
                                    <div class="col-12">
                                    <div class="row">
                                        <div class="col-2">
                                        <span>
                                            อาหาร : 
                                        </span>
                                        </div>
                                        <div class="col-10 text-start">
                                        <span>
                                            {{search_fish_data[0][4]}}
                                        </span>
                                        </div>
                                    </div>
                                    </div>
                                    <div class="col-12">
                                    <div class="row">
                                        <div class="col-2">
                                        <span>
                                            การจัดตู้ปลา : 
                                        </span>
                                        </div>
                                        <div class="col-10 text-start">
                                        <span>
                                            {{search_fish_data[0][5]}}
                                        </span>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                                </div>
                                </div>
                            </div>
                            </div>
                            <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">ปิด</button>
                            </div>
                        </div>
                        </div>
                    </div>
                    <a class="btn btn-primary" style="color:white;" href="{{ url_for('fishclassification_search') }}">ค้นหาใหม่</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}