{% extends "header_user.html" %} {% block content %}

<head>
    <link rel="stylesheet" href="http://jqueryvalidation.org/files/demo/site-demos.css">
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="http://jqueryvalidation.org/files/dist/jquery.validate.min.js"></script>
    <script src="http://jqueryvalidation.org/files/dist/additional-methods.min.js"></script>

    <script type="application/x-javascript">
        addEventListener("load", function() {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <script>
        function editprofilereadURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function(e) {
                    $("#profilepic")
                        .attr("src", e.target.result)
                        // .width(300)
                        // .height(300);
                    $("#profilepic").show()
                };
                reader.readAsDataURL(input.files[0]);
            }
        }
    </script>
    <link href="//fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/styles.css') }}">
    <script>
        window.setTimeout(function() {
            $(".toast").fadeTo(500, 0).slideUp(500, function() {
                $(this).remove();
            });
        }, 3000);
    </script>
</head>
<div class="container p-0 my-0" >
    {% with messages = get_flashed_messages(with_categories=true) %} {% if messages %} {% for category, message in messages %}
    <!-- <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert" style="margin-bottom: 0;">
          {{ message }}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div> -->
    <div aria-live="polite" aria-atomic="true" class="bg-dark position-relative">
        <div class="toast-container position-absolute p-3 top-0 start-50 translate-middle-x" style="z-index: 5; color:white;">
            <div id="liveToast" class="toast fade show bg-{{ category }}" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="toast-body text-center" style="z-index: 5; color:white;">
                    {{ message }}
                </div>
            </div>
        </div>
    </div>
    {% endfor %} {% endif %} {% endwith %}
</div>
<div class="container p-2 my-0 bg" style="padding: 15%;">
    <div class="card p-1 bg-light text-dark">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark border-bottom justify-content-center p-1">
            <h4 style="color: rgb(235, 227, 227);">
                <i style="color: rgb(235, 227, 227);" class="fas fa-user"></i> ข้อมูลส่วนตัว
                <i style="color: rgb(235, 227, 227);" class="fas fa-user"></i>
            </h4>
        </nav>
        <div class="modal fade" id="pic_profile" data-bs-backdrop="static" tabindex="-1" aria-pledby="pic_profile" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header p-2">
                        <p class="modal-title" id="exampleModalp">เปลี่ยนรูปโปรไฟล์</p>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-p="Close"></button>
                    </div>
                    <form action="{{url_for('pic_profile')}}" id="modal_picprofile" method="POST" enctype="multipart/form-data">
                        <div class="modal-body p-1">
                            <div class="row gy-1">
                                <div class="col-12">
                                    <div class="row">
                                        <div class="col-4 align-self-center">
                                            <p>รูปโปรไฟล์</p>
                                        </div>
                                        <div class="col-8 align-items-center">
                                            <input type="file" class="form-input" name="user_pic" id="file" onchange="editprofilereadURL(this);" style="border:none" required/>
                                        </div>
                                        <div class="col-12">
                                            <div class="row justify-content-center">
                                                <!-- <img id="blah" src="static\images\photo-2.png" class="form-control" alt="no image" style="width:250px"/> -->
                                                <img id="profilepic" title="No image" class="form-control " alt="no image" style="width:350px;display: none;" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer p-0">
                            <input class="btn btn-primary" type="submit" align="left" value="ยืนยัน"></input>
                            <button id="cancelpicprofile" type="button" class="btn btn-danger" data-bs-dismiss="modal">ยกเลิก</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="card-body row gx-2 gy-2">
            <div class="col-xs-12 col-md-6">
                <div class="row p-1">
                    <div class="col-12">
                        <img src="{{user_data[6]}}" class="center" style="width: 50%; height:50; display: block; margin-left: auto; margin-right: auto;">
                    </div>
                    <div class="col-12">
                        <button type="button" data-bs-toggle="modal" data-bs-target="#pic_profile" class="btn btn-primary" style="width: 50%; height:50; display: block; margin-left: auto; margin-right: auto;">เปลี่ยนรูปโปรไฟล์</button>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-6">
                <div class="row gy-2 ">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-4">
                                <p>ชื่อผู้ใช้งาน </p>
                            </div>
                            <div class="col-8">
                                <p>:{{user_data[0]}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="row">
                            <div class="col-4">
                                <p>ชื่อ-สกุล </p>
                            </div>
                            <div class="col-8">
                                <p>:{{user_data[1]}} {{user_data[2]}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="row">
                            <div class="col-4">
                                <p>อีเมล </p>
                            </div>
                            <div class="col-8">
                                <p>:{{user_data[3]}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="row">
                            <div class="col-4">
                                <p>เบอร์โทรศัพท์ </p>
                            </div>
                            <div class="col-8">
                                <p>:{{user_data[4]}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="row">
                            <div class="col-4">
                                <p>ที่อยู่</p>
                            </div>
                            <div class="col-8">
                                <p>:{{user_data[5]}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="row">
                            <div class="col-12 text-end mx-auto">
                                <a type="button" class="btn btn-primary" href="/buy_history">ประวัติการซื้อ</a>
                                <a type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">แก้ไขข้อมูล</a>
                            </div>
                            <div class="modal fade" id="exampleModal" data-bs-backdrop="static" tabindex="-1" aria-pledby="exampleModalp" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <form action="/edit_profile" method="POST">
                                            <div class="modal-header p-2">
                                                <h5 class="modal-title" id="exampleModalp">แก้ไขข้อมูล</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-p="Close"></button>
                                            </div>
                                            <div class="modal-body p-1">
                                                <div class="row gy-1">
                                                    <div class="col-12">
                                                        <div class="row align-items-center ">
                                                            <div class="col-4">
                                                                <p>ชื่อผู้ใช้งาน</p>
                                                            </div>
                                                            <div class="col-8">
                                                                <input name="username" class="form-control" type="text" aria-p="default input" value="{{user_data[0]}}">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-12">
                                                        <div class="row align-items-center">
                                                            <div class="col-4">
                                                                <p>ชื่อ</p>
                                                            </div>
                                                            <div class="col-8">
                                                                <input name="firstname" class="form-control" type="text" aria-p="default input" value="{{user_data[1]}}">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-12">
                                                        <div class="row align-items-center">
                                                            <div class="col-4">
                                                                <p>นามสกุล</p>
                                                            </div>
                                                            <div class="col-8">
                                                                <input name="lastname" class="form-control" type="text" aria-p="default input" value="{{user_data[2]}}">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-12">
                                                        <div class="row align-items-center">
                                                            <div class="col-4">
                                                                <p>อีเมล</p>
                                                            </div>
                                                            <div class="col-8">
                                                                <input name="email" class="form-control" type="text" aria-p="default input" value="{{user_data[3]}}">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-12">
                                                        <div class="row align-items-center">
                                                            <div class="col-4">
                                                                <p>ที่อยู่</p>
                                                            </div>
                                                            <div class="col-8">
                                                                <input name="address" class="form-control" type="text" aria-p="default input" value="{{user_data[4]}}">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-12">
                                                        <div class="row align-items-center">
                                                            <div class="col-4">
                                                                <p>เบอร์โทรศัพท์</p>
                                                            </div>
                                                            <div class="col-8">
                                                                <input name="telephone" class="form-control" type="text" aria-p="default input" value="{{user_data[5]}}">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer p-0">
                                                <input class="btn btn-primary" type="submit" align="left" value="ยืนยัน"></input>
                                                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">ยกเลิก</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}